@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  body {
      @apply dark:bg-dmode bg-white;
  }
  h1{
    font-size:unset!important;
    font-weight: unset!important;
  }
}
.p-menubar{
  @apply dark:bg-dmode bg-white
  dark:border-gray-700 border-gray-300 !important
}
.p-menuitem-text, .p-menubar{
 @apply dark:text-white text-gray-700 !important
}
.p-menubar-root-list, .p-menuitem-link{
  @apply dark:bg-dmode bg-white
 
}
.p-menuitem-link:hover{
  @apply dark:bg-gray-700 bg-gray-100 !important
}


.header{
  @apply dark:bg-dmode bg-white 
  dark:text-white text-dmode !important
}
.p-menubar .p-menubar-end{
  @apply lg:ml-0 !important ;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  @apply dark:bg-gray-700 bg-gray-500 !important
}
.p-menubar{
  @apply lg:justify-around
}
.p-inputswitch-slider {
  box-shadow: none!important;
}
.p-card .p-card-body {
  padding: 0.7rem!important;
}
.footer{
height:250px;
padding: 100px 0;
@apply dark:bg-gray-700 bg-gray-300 mt-[100px]
}
/* .wave{
  @apply dark:bg-dwave bg-wave
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


